body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#container{
    display: flex;
    flex-wrap: wrap;
}

.login{
    background-color: rgb(155, 155, 155);
    height: 10vh;
    width: 100%;
    display: flex;
}

.login *{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-color: rgb(206, 218, 250);
    flex: 1;
}

.titre{
    flex: 6;
    background-color: rgb(11, 63, 141);
}

.connexion{
    background-color: rgb(184, 190, 189);
    flex: 1;
    display: flex;
    justify-content: center;
}

.login input{
    background-color: rgb(177, 173, 173);
    margin-right: 2%;
    padding: 15px;
    border: 1px solid white;
    border-radius: 15px;
    font-weight: bold;
    color: white;
}

.login input:hover{
    cursor: pointer;
    background-color: rgb(145, 145, 145);
}

.themeDoc{
    height: 90vh;
    width: 100%;
    display: flex;
}

.theme{
    background-color: rgb(157, 252, 162);
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.theme h2, .theme ul{
    display: flex;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 4%;
}

.theme ul{
    flex-direction: column;
    list-style: none;
}

a{
    text-decoration: none;
}

li{
    padding-bottom: 4%;
}

.doc{
    background-color: rgb(208, 182, 255);
    flex: 5;
}